# editorconfig.org
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,css}]
indent_size = 4

[*.{rb, erb, haml, feature, clj, cljs}]
indent_size = 2

[*.{html, js, jsx, jade, coffee, css, sass, scss}]
indent_size = 4

# adding the following to the preceding array wouldn't work
[*.{c, h}]
indent_size = 4
