[Desktop Entry]
Version=1.0
Name=Firefox Web Browser
Comment=Browse the World Wide Web
GenericName=Web Browser
Exec=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox
